{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registration Form{% endblock %}

{% block content %}
    {% comment %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Registration Form</h1>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Register</button>
        </form>
    </div>
{% endcomment %}
 <div class="form-content my-3 p-3">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                        	<h3 class="font-weight-light my-4 text-center">Registration Form</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}

                                <div class="form-row">
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Username</label>
		                                    {{ form.username }}
		                                </div>
		                            </div>
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Email</label>
		                                    {{ form.email }}
		                                </div>
		                            </div>
		                        </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Password</label>
                                            {{ form.password1 }}
                                            {{ form.errors.password }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="small mb-1">Confirm Password</label>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                </div>
                            <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Role</label>
                                            {{ form.role }}
                                        </div>
                                    </div>
                                <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Country</label>
		                                    {{ form.country }}
		                                </div>
		                            </div>
                                </div>
                            <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">City</label>
                                            {{ form.city }}
                                        </div>
                                    </div>
                                <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Phone Number</label>
		                                    {{ form.phone }}
		                                </div>
		                            </div>
                                </div>
                            <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Code</label>
                                            {{ form.code }}
                                        </div>
                                    </div>
                            </div>
                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-dark">Register</button><br><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}